header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.full-bar {
  width: 100%;
  height: 46px;

  background: rgb(50, 50, 50);
}

.navigation-bar {
  width: 1240px;
  height: 100%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation-bar * {
  height: 100%;
  user-select: none;
}

.logo {
  width: 185px;
  border: none;
  background-image: linear-gradient(#ff7b00, #d44700);

  text-transform: uppercase;
  color: white;
  font-size: 0.95em;
  font-weight: 500;
  font-family: "interstateregular";
  user-select: none;
  line-height: 46px;
}

.logo > img {
  width: 50px;
  height: 30px;
}

.home, .stream, .library, .upload, .user {
  background: transparent;
  border: none;

  font-size: .9em;
  color: rgb(200, 200, 200);
}

.home:hover, .stream:hover, .library:hover, .upload:hover, .user:hover {
  color: white;
}

.home, .stream, .library {
  width: 104px;
  border-right: 1px solid black;
}

.search-bar {
  max-width: 475px;
  width: inherit;
  display: flex;
  align-items: center;

  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-151%, -50%); */
}

.search-bar > .search-box {
  height: 60%;
  width: 100%;

  padding: 5px;
  margin: 10px;
  background: rgb(220, 220, 220);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: .9em;
  color: rgb(100, 100, 100);

  transition: background-color 700ms;
}

.search-bar > .search-box:focus {
  background: white;
}

.search-bar > .search-box::placeholder {
  opacity: .6;
}

.search-bar > .search-submit {
  height: 20px;
  width: 20px;
  
  background: transparent;
  border: none;

  position: absolute;
  right: 15px;
}

.search-bar > .search-submit > i {
  position: absolute;
  right: 3px;
  bottom: -3px;

  font-size: .9em;
  color: rgb(70, 70, 70);
}

.session-buttons {
  width: 225px;
  display: flex;
  align-items: center;
}

.session-buttons > button {
  height: 55%;
  margin: 5px;
  border-radius: 4px;
  color: white;
  font-size: .9em;
}

.session-buttons > .login {
  background: transparent;
  border: 1px solid rgb(100, 100, 100);
}

.session-buttons > .login:hover {
  border-color: rgb(170, 170, 170);
}

.session-buttons > .signup {
  background: #ff5700;
  border: none;
}

.upload {
  width: 70px;
  background: transparent;
  border: none;
  font-size: .9em;
}

.user {
  width: auto;
  display: flex;
  align-items: center;

  font-size: .9em;
}

.user > .profile-picture {
  height: 25px;
  width: 25px;
  background: transparent;
  border-radius: 50%;
}

.user > .name {
  margin: 10px;
  white-space: nowrap;
}

.settings {
  width: 45px;
  position: relative;
}

.settings > .settings-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;

  font-size: .9em;
  color: rgb(200, 200, 200);
}

.settings > .settings-button:hover {
  color: white;
}

.settings > .settings-button.clicked {
  color: white;
  background: black;
}

.settings > .settings-button > i {
  font-size: 1.5em;
  transform: translate(0%, 10%);
}

.settings > .settings-dropdown-content {
  display: none;

  height: auto;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 45px;
}

.settings > .settings-dropdown-content.show {
  display: block;
}

.settings > .settings-dropdown-content > .logout {
  width: 170px;
  height: 30px;
  border: none;
  background: black;
  color: rgb(200, 200, 200);
  font-size: .8em;
  text-align: left;
  line-height: 30px;
}
.settings > .settings-dropdown-content > .logout:hover {
  background: rgb(50, 50, 50);
  color: white;
}

