.no-song {
  font-size: 30pt;
  padding-top: 25%;
  text-align: center;
}

.song-banner {
  width: 100%;
  height: 380px;
  background-image: linear-gradient(to bottom right, rgb(249, 249, 249), rgb(124, 124, 124));

  display: flex;
  justify-content: space-between;
}

.song-banner > .song-banner-main {
  display: flex;
  justify-content: flex-start;
}

.song-banner .song-banner-play {
  position: relative;
  height: 60px;
  width: 60px;
  background: white;
  border: none;
  border-radius: 50%;
  margin: 30px 5px 0 30px
}

.song-banner .song-banner-play i {
  position: absolute;
  left: -3px;
  top: -1px;
  font-size: 50pt;
  color: #ff5700;
}

.song-banner .song-banner-play i:hover {
  color: #e04b00;
}

.song-banner > .song-banner-main > .song-banner-info {
  margin: 25px 0 0 5px;
  display: flex;
  flex-direction: column;
}

.song-banner .song-banner-uploader, .song-banner .song-banner-title {
  background-color: rgb(20,20,20);
}

.song-banner .song-banner-uploader {
  position: absolute;
  margin-bottom: 4px;
  padding: 5px 5px;
  color: rgb(230,230,230);
  font-size: 12pt;
  text-decoration: none;
}

.song-banner .song-banner-title {
  margin-top: 30px;
  padding: 8px 5px;
  color: white;
  font-size: 18pt;
}

.song-banner > .song-picture, .song-banner > .blank-image {
  width: 340px;
  height: 340px;
  margin: 20px;
}

.song-banner > .blank-image {
  background: rgb(120, 122, 135);
}

.song-edit-controls * {
  font-size: 10pt;
}

.song-edit-controls button {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2px;
  padding: 5px;
}

.song-edit-controls button:hover {
  border: 1px solid rgb(200,200,200);
}

.song-edit-controls button > i {
  margin: 0 10px 0 5px;
}