.upload-splash-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./ff7buster.jpg");
  background-size: cover;

  height: 450px;
  border-top: 4px solid #ff5700;
  padding-left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.upload-splash-header {
  font-size: 22pt;
  color: white
}

.upload-splash-body {
  font-size: 13pt;
  color: white;
  padding: 20px 0 30px 0;
}

.upload-splash-button {
  width: 250px;
  background: #ff5700;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 14pt;
  color: white;
}