.song-form {
  padding: 140px 0 140px 0;

  transition: padding-top 250ms ease;
}

.song-form .song-file-error {
  display: none;
  width: 300px;
  height: 40px;
  position: fixed;
  right: 30px;
  top: 60px;
  background: white;
  border-radius: 4px;
  box-shadow: 3px 0 5px rgb(250, 250, 250), 
    0 3px 5px rgb(250, 250, 250), 
    -3px 0 5px rgb(250, 250, 250), 
    0 -3px 5px rgb(250, 250, 250);

  line-height: 40px;
  font-size: 8pt;
  overflow: hidden;
}

.song-form .song-file-error p {
  padding-left: 30px;
}

.song-form .song-file-error .exclamation {
  width: 40px;
  height: inherit;
  background: #ff5700;
  font-size: 18pt;
  color: white;
  text-align: center;
}

.song-form .song-file-error.present {
  display: flex;
}

.song-input-box {
  width: 800px;
  margin: 0 auto;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;
  box-shadow: 3px 0 5px rgb(250, 250, 250), 
    0 3px 5px rgb(250, 250, 250), 
    -3px 0 5px rgb(250, 250, 250), 
    0 -3px 5px rgb(250, 250, 250);
  padding-top: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: padding-top 250ms ease;
}

.song-input-box > .song-input-button {
  width: 300px;
  background: #ff5700;
  border-radius: 4px;
  padding: 12px 0 12px 0;
  
  cursor: pointer;
  color: white;
  font-size: 12pt;
  text-align: center;

  transition: padding 250ms ease, font-size 250ms ease;
}

.song-input-box > p {
  font-size: 10pt;

  padding: 160px 0 30px 0;

  transition: padding 250ms ease;
}

.song-input, .picture-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.song-form.small {
  padding-top: 70px;
}

.song-form.small > .song-input-box {
  border: 2px dashed rgb(240, 240, 240);
  border-radius: 0;
  box-shadow: none;
  padding-top: 75px;
}

.song-form.small > .song-input-box > .song-input-button {
  padding: 6px 0 6px 0;
  font-size: 10pt;
}

.song-form.small > .song-input-box > p {
  padding: 30px 0 30px 0;
}


/* INFO FORM */

.song-info {
  position: relative;
  width: 800px;
  margin: 50px auto;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;
  box-shadow: 3px 0 5px rgb(250, 250, 250), 
    -3px 0 5px rgb(250, 250, 250), 
    0 -3px 5px rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
}

.song-info > .file-name {
  position: absolute;
  left: 0;
  top: -20px;

  font-size: 10pt;
}

.song-info > .input-section {
  width: inherit;
  border-bottom: 1px solid rgb(240, 240, 240);

  display: flex;
  justify-content: space-between;
}

.song-info > .button-section {
  width: auto;
  padding: 20px 25px 20px 0;

  display: flex;
  justify-content: flex-end;
}

.song-info .song-picture-section {
  position: relative;
}

.song-info .song-picture-preview {
  width: 260px;
  height: 260px;
  margin: 25px 0 50px 25px;
}

.song-info .song-picture-preview > img {
  width: inherit;
  height: inherit;
}

.song-info .song-picture-preview > .blank-preview {
  width: inherit;
  height: inherit;
  background: rgb(120, 122, 135);
}

.song-info .picture-input-button {
  width: 125px;
  position: absolute;
  right: 60px;
  top: 240px;
  height: 22px;
  background: rgb(230, 230, 230);
  border-radius: 3px;
  padding: 0 10px;
  
  cursor: pointer;
  text-align: center;
  line-height: 22px;

  transition: background-color 500ms;
}

.song-info .picture-input-button:hover {
  background: white;
}

.song-info .picture-input-button > i {
  height: inherit;
  font-size: 10pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.song-info .picture-input-button p {
  font-family: "interstatelight";
} 

.song-info .picture-input-button > p {
  font-size: 10pt;
  display: none;
}

.song-info .button-section > button {
  font-size: 14px;
  padding: 5px 10px;
}

.song-info .song-form-cancel {
  background: transparent;
  border: none;
}

.song-info .song-form-submit {
  border-radius: 4px;
  background: #ff5700;

  color: white;
}

.song-picture-section.selected > .picture-input-button {
  width: 110px;
  top: 300px;
  right: 0;
  background: transparent;
  border: 1px solid rgb(220, 220, 220);
  transition: border-color 500ms;
}

.song-picture-section.selected > .picture-input-button:hover {
  border-color: rgb(120, 120, 120);
}

.song-picture-section.selected > .picture-input-button > i {
  display: none;
}
.song-picture-section.selected > .picture-input-button > p {
  display: inline;
}

.text-input-section {
  width: 475px;
  padding: 25px 25px 25px 0;
  display: flex;
  flex-direction: column;
}

.text-input-section p {
  padding: 5px 0;
  font-size: 10pt;
}

.text-input-section input, .text-input-section textarea {
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 3px 0 3px 10px;
}

.text-input-section input::placeholder, .text-input-section textarea::placeholder {
  opacity: .6;
}

.text-input-section .description-label {
  margin-top: 25px;
}

.text-input-section textarea {
  height: 100px;
  padding-top: 7px;
}

.text-input-section .title-label.title-error input {
  border-color: red;
  margin-bottom: 5px;
}

.text-input-section .title-label .missing-title {
  display: none;
  padding-top: 10px;
  font-size: 10pt;
  color: red;
}

.text-input-section .title-label.title-error .missing-title {
  display: inline;
}